@page "/SearchResults/"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject NavigationManager UriHelper

<PageTitle>Search Results</PageTitle>

<!--Saved and Help button-->
<!--Modify Search button-->
<!-- Modify Search Section ^ -->
<div class="container">
        <div class="row" style="margin:0px">
            <div class="flex-parent jc-center" style="margin:0px">
                <div id="inlinediv" style="margin-bottom:0px;margin-right:435px;">
                    <button @onclick="tores" id="defaultbutton" style="padding-left: 8px; padding-right: 12px;padding-top:6px;padding-bottom:6px;margin-left:0px;border-width:0px;margin-top:10px;font-size:18px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg>
                    </button>
                    <p style="padding-right: 0px;padding-left:2px;margin-left:0px;margin-bottom:0px">Back</p>
                                    
                </div>
                
                <h1 style="background-color: rgb(220,220,220);padding:8px;padding-left:20px;padding-right:20px;border-radius:10px;margin-bottom:20px;vertical-align:top"> Search Results </h1>
                
            <div id="inlinediv" style="margin-left:390px;margin-bottom:0px">
                <button id="defaultbutton" style="padding-left: 15px; padding-right: 15px;padding-top:8px;padding-bottom:8px;margin-left:0px;border-width:0px;margin-top:10px">
                ?
                </button>
                                        
                <p style="padding-left: 4px;padding-right:6px;margin-bottom:0px;">Help</p>
            </div>
    <div id="inlinediv" style="margin-bottom:0px">
        <button @onclick="tohome" id="defaultbutton" style="padding-left: 11px; padding-right: 11px;padding-top:8px;padding-bottom:8px;margin-left:9px;border-width:0px;margin-top:10px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
            </svg>
        </button>
        <p style="padding-right:0px;padding-left:2px;margin-left:5px;margin-bottom:0px">Home</p>
                        
        
        </div>
            </div>

<!-- Modify Search Section ^ -->
        </div>
        <div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <p>
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" id="bigbutton" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-top:0px;">
                        Modify Filters
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <div class="container text-start">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <form class="form-inline">
                                                <label>Location:</label>
                                                <input type="text" name="location" id="filterfield">
                                            </form>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="map.png" alt="map" width="507" height="326">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <label>Price Range:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input type="text" placeholder="Min" id="filterfield">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">-</span>
                                                </div>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input type="text" placeholder="Max" id="filterfield">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <label for="customRange1" class="form-label">Square Footage: > 1000 sq. ft.</label>
                                            <input type="range" class="form-range" id="customRange1">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <form class="row row-cols-lg-auto g-3">
                                                <label style="font-size: small">Number of Bedrooms:</label>
                                                <div class="col-12">
                                                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                                    <select class="form-select" id="inlineFormSelectPref" style="background-color: rgb(125, 184, 140); border-color: black;">
                                                        <option selected>Choose...</option>
                                                        <option value="1">1+</option>
                                                        <option value="2">2+</option>
                                                        <option value="3">3+</option>
                                                        <option value="3">4+</option>
                                                        <option value="3">5+</option>
                                                    </select>
                                                </div>
                                                <label style="font-size: small">Number of Bathrooms:</label>
                                                <div class="col-12">
                                                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                                    <select class="form-select" id="inlineFormSelectPref" style="background-color: rgb(125, 184, 140); border-color: black;">
                                                        <option selected>Choose...</option>
                                                        <option value="1">1+</option>
                                                        <option value="2">2+</option>
                                                        <option value="3">3+</option>
                                                        <option value="3">4+</option>
                                                        <option value="3">5+</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            <label>Property Type:</label>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Single-Family
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Multi-Family
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Townhouse
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Appartment
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                                <button class="btn btn-primary btn-lg dropdown-toggle" id="bigbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                                    More Filters
                                                </button>
                                                <div class="collapse" id="collapseExample2">
                                                    <div class="card card-body">
                                                        <div class="container text-start">
                                                            <div class="row">

                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <form class="row row-cols-lg-auto g-3">
                                                                                <label>Property Size:</label>
                                                                                <div class="col-12">
                                                                                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                                                                    <select class="form-select" id="inlineFormSelectPref" style="background-color: rgb(125, 184, 140); border-color: black;">
                                                                                        <option selected>Choose...</option>
                                                                                        <option value="1"> less than 1000 sq. ft.</option>
                                                                                        <option value="2">> 1000 sq. ft.</option>
                                                                                        <option value="3">> 1500 sq. ft.</option>
                                                                                        <option value="3">> 2000 sq. ft.</option>
                                                                                        <option value="3">> 2500 sq. ft.</option>
                                                                                    </select>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <label>Amenities: </label>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                                    Pool
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                                    Backyard
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                                    A/C
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                                    Garage
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                                    Balcony
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <form class="row row-cols-lg-auto g-3">
                                                                                <label style="font-size:small">Parking Spaces:</label>
                                                                                <div class="col-12">
                                                                                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                                                                    <select class="form-select" id="inlineFormSelectPref" style="background-color: rgb(125, 184, 140); border-color: black;">
                                                                                        <option selected>Choose...</option>
                                                                                        <option value="1">1+</option>
                                                                                        <option value="2">2+</option>
                                                                                        <option value="3">3+</option>
                                                                                        <option value="3">4+</option>
                                                                                        <option value="3">5+</option>
                                                                                    </select>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <form class="row row-cols-lg-auto g-3">
                                                                                <label>Year Built:</label>
                                                                                <div class="col-12">
                                                                                    <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                                                                    <select class="form-select" id="inlineFormSelectPref" style="background-color: rgb(125, 184, 140); border-color: black;">
                                                                                        <option selected>Choose...</option>
                                                                                        <option value="1">2010</option>
                                                                                        <option value="2">2009</option>
                                                                                        <option value="3">2008</option>
                                                                                        <option value="3">2007</option>
                                                                                        <option value="3">2006</option>
                                                                                    </select>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="input-group">
                                                                                <label>Price Reduction: </label>
                                                                                <input type="text" id="filterfield">
                                                                                <div class="input-group-append">
                                                                                    <span class="input-group-text">%</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn btn-primary btn-lg" id="bigbutton">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                        </svg>Search
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="row">
        @for(int i = 0; i < Database.filtered.Count; i++){
            int j = i;
            <div class="col-6">
                <div class="candidate-list candidate-grid">
                    <div class="candidate-list-image">
                        <img class="img-fluid" src="@Database.filtered[i].images[0]" alt="">
                    </div>
                    <div class="candidate-list-details">
                        <div class="candidate-list-info">
                            <div class="candidate-list-title">
                                <h4><button @onclick="() => tohouse(j)" class="btn btn-primary" id="defaultbutton" type="button" style="border-width:0;border-radius:15px;background-color:white;font-size:30px;font-weight:10;padding-left:15px;padding-right:15px">
                                    <u style="color:#3381ff">@Database.filtered[i].Address</u>
                                </button>
                                </h4>
                               
                                <h5><a><i class="fas fa-dollar-sign"></i> $@Database.filtered[i].Price </a></h5>
                                <h5><a><i class="fas fa-dollar-sign"></i> @Database.filtered[i].PropertyType </a></h5>
                            </div>
                            <div class="candidate-list-option">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-home"></i> @Database.filtered[i].Bedrooms bedrooms | @Database.filtered[i].Bathrooms bathrooms</li>
                                    <li>           </li>
                                    <li><i class="fas fa-ruler"></i> @Database.filtered[i].SquareFootage sq ft. </li>
                                    <li>          </li>
                                </ul>
                            </div>
                        </div>
                        <div class="candidate-list-favourite-time" style="margin-bottom:0px">
                            <div>
                            <button @onclick="() => unsave(j)" id="defaultbutton" style="padding-left: 12px; padding-right: 12px;padding-top:6px; padding-bottom: 6px;margin-left:530px;border-width:0;font-size:25px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
                                </svg>
                            </button>
                            <p style="margin-left:528px;font-size:15px;margin-bottom:0px">Un-save</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        
        <div class="row">
            <div class="col-12 text-center mt-4 mt-sm-5">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item disabled"> <span class="page-link">Prev</span> </li>
                    <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">25</a></li>
                    <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                </ul>
            </div>
        </div>
    </div>



<style>

    body {
        margin-top: 20px;
        background: #F5F5F5;
        margin-bottom: 20px;
        align-items: center;
    }

    .NavBar {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        float: right;
    }

    button#bigbutton {
        padding: 5px;
        background-color: rgb(127, 180, 240);
        color: black;
        border-color: black;
        border-radius: 5px;
        display: inline-block;
        margin: 2px;
        margin-top: 50px;
    }

    button#defaultbutton {
        padding: 5px;
        background-color: rgb(127, 180, 240);
        color: black;
        border-color: black;
        font-weight: bold;
        border-radius: 5px;
        display: inline-block;
    }

    .flex-parent {
        margin-top: 50px;
        display: flex;
    }

    .jc-center {
        justify-content: center;
        font-size: 15px;
    }

    .job-shortby {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .candidate-list:hover {
            -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
            box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
            position: relative;
            z-index: 99;
        }

            .candidate-list:hover a.candidate-list-favourite {
                color: #e74c3c;
                -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
                box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
            }

        .candidate-list .candidate-list-image {
            margin-right: 25px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
            flex: 0 0 80px;
            border: none;
        }

            .candidate-list .candidate-list-image img {
                width: 80px;
                height: 80px;
                -o-object-fit: cover;
                object-fit: cover;
            }

    .candidate-list-title {
        margin-bottom: 5px;
        font-size: 25px;
    }

    .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

        .candidate-list-details ul li {
            margin: 5px 10px 5px 0px;
            font-size: 18px;
        }

    .candidate-list .candidate-list-favourite-time {
        margin-left: auto;
        margin-right: 6px;
        text-align: center;
        font-size: 10px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        float: inline-start;
        margin-bottom: 25px;
    }


        .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
            display: inline-block;
            position: relative;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid #eeee;
            border-radius: 100%;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            font-size: 15px;
            color: #646f79;
        }

            .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
                background: #ffffff;
                color: darkblue;
            }

    .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        z-index: inherit;
    }


    /* Candidate Grid */
    .candidate-list.candidate-grid {
        padding: 0px;
        display: block;
        border-bottom: none;
    }

    .candidate-grid .candidate-list-image {
        text-align: center;
        margin-right: 0px;
    }

        .candidate-grid .candidate-list-image img {
            height: 300px;
            width: 100%;
        }

    .candidate-grid .candidate-list-details {
        text-align: center;
        padding: 20px 20px 0px 20px;
        border: 1px solid #eeeeee;
        border-top: none;
    }

        .candidate-grid .candidate-list-details ul {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .candidate-grid .candidate-list-details ul li {
                margin: 2px 5px;
            }

    .candidate-grid .candidate-list-favourite-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #eeeeee;
        margin-top: 10px;
        padding: 10px 0;
    }

        .candidate-grid .candidate-list-favourite-time a {
            margin-bottom: 0;
            margin-left: auto;
        }

        .candidate-grid .candidate-list-favourite-time span {
            display: inline-block;
            margin: 0;
            -ms-flex-item-align: center;
            align-self: center;
        }

    .candidate-list.candidate-grid .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 0px;
    }

    .owl-carousel .candidate-list.candidate-grid {
        margin-bottom: 20px;
    }
</style>
@code{
    public int len = Database.filtered.Count();
    List<string> houseNames = new List<string>();
    public string houses1 { get; set; }

    private int index;
    private void test() {
        index = 0;
        UriHelper.NavigateTo($"housepage/{index}");

    }
    
    private void tohouse(int i){

            UriHelper.NavigateTo($"housepage/{i}");
        }

        private void tohome(){

            UriHelper.NavigateTo($"Homepage");

        }

        private void tores(){

            UriHelper.NavigateTo($"Homepage");

        }

        private void unsave(int i){
            Database.saved.Remove(Database.saved[i]);
        }

    }